<!DOCTYPE html>
<html theme="default">
<meta charset="utf-8" />

<head>
	<title>WebViewer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="manifest" href="/manifest.json">
	<style>
	html, body {
  height: 100vh;
}</style>
	<script>
		socket = new WebSocket(`ws://${location.host}`);
		
		socket.addEventListener('open', function () {
			'wssopen' in window ? location.reload() : window.wssopen = true;
			socket.send(JSON.stringify({
				Cmd: 'GetConfig',
				Path: location.pathname.substr(1).toLowerCase()
			}));
		});
		socket.addEventListener('close', function () {
			function retry() {
				let once = false;
				pollSocket = new WebSocket(`ws://${location.host}`)
				pollSocket.addEventListener('error', closed)
				pollSocket.addEventListener('close', closed)
				pollSocket.addEventListener('open', _ => {
					location.reload();
				})
				function closed() {
					if(!once) { // only do this once per pollsocket
						setTimeout(retry, 0);
						once = true;
					}
				}
			}
			setTimeout(retry, 0);
		});
		function message(msg) {
			eval((com = JSON.parse(msg.data)).Nxs);
			__Nexus.boot(socket, com);
			socket.removeEventListener('message', message);
		}
		socket.addEventListener('message', message);
	</script>
</head>

<body id="Body" style="height:100vh;margin:0px;font-size:13px;">

	<!-- This will be shown on disconnect -->
	<div class="showOnDisconnect" style=""></div>

	<!-- This will be shown if the Server responds with com.Error == 404 -->
	<div class="showOn404" style="display:none;">
		<div style="width: 250px; font-family: sans-serif;
	  margin: 0px auto; position: relative; z-index: 1;
	  margin-top: 32px;">
			<span style="font-size: 48px">404</span><br>
			<span>Page not Found</span><br><br><hr><br>
			<div style="text-align: right;">
				<a href="#" onclick="history.back()" style="text-decoration: none;">&lt;&lt; Go Back</a>
			</div>
		</div>
	</div>

	<!-- This will be shown until we get a response -->
	<div class="removeOnLoad" style="
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 96px;
    color: white;
    background: #242424;
    width: 100%;
    height: 100%;
    padding-top: calc(50vh - 48px);
    box-sizing: border-box;
"><span style="
    color: #388E3C;
">x</span>Evo
<span style="
    font-size: 15px;
    height: 10px;
    display: block;
    position: relative;
    bottom: 28px;
    color: rgba(255, 255, 255, .6);
"><br>Systems Engineering, Evolved.</span></div>

	<!--  -->
</body>

</html>